.presentation{
  z-index: 2000;
  position: absolute;
}

.wrapper-modal{
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0/71%);
  display: flex;
  justify-content: center;
}

.modal{
  position: relative;
  max-width: 800px;
  background-color: #111;
  border-radius: 8px;
  overflow: hidden;
  transition: .4s ease-in-out;
  animation: fadeIn 0.4s;
}

@keyframes fadeIn{
  from{
    opacity: 0;
    transform: scale(0.5);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}

.modal-close{
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  z-index: 1000;
  color: white;
  font-size: 20px;
}

.modal_poster-img{
  width: 100%;
  height: auto;
}

.modal_content{
  padding: 40px;
  color: white;
}

.modal_details{
  font-weight: 600;
  font-size: 18px;
}

.modal_user_per{
  color: #46d369;
}

.modal_title{
  font-size: 40px;
  margin: 16px 0;
}

.modal_overview{
  font-size: 20px;
  line-height: 1.5;
}

@media (max-height:768px){
  .wrapper-modal{
    padding-top: 2rem;
  }

  .modal{
    overflow-y: scroll;
  }
}

@media (max-width:768px){
  .modal_overview{
    font-size: 16px;
  }

  .modal_details{
    font-size: 16px;
  }
  
  .wrapper-modal{
    padding: 0;
  }

  .modal{
    overflow-y: scroll;
  }
}